.aboutus {
    margin: 40px; /* Ajusta el margen según el espacio que desees */
    padding: 40px; /* Ajusta el padding según el espacio que desees */
    margin-top: -5px;
}
.aboutus h1 {
font-family: 'Hubballi', sans-serif;
font-size: 42px;
color: olivedrab  ;
font-weight: 900; /* Muy Negrita */
text-align: center;
margin-top: 50px;
}
.aboutus p { 
    font-family: 'Hubballi', sans-serif;
    font-size: 20px;
    color:black;
    text-align: justify;
    margin-top: -10px;
   }
.aboutus h3 {
    color:olivedrab; 
    font-family: 'Hubballi', sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin-top: -3px;
   }
   .aboutus p[class="primer-p"] {
    color: olivedrab; /* Cambia el color del primer párrafo */
    font-weight: 600;
    font-size: 22px;
  }
.aboutus h4 {
    font-family: 'Hubballi', sans-serif;
    font-size: 32px;
    color: olivedrab;
    font-weight: 900; /* Muy Negrita */
    text-align: center;   
    margin-top: 30px;
}
@media (min-width: 970px) {
.aboutus {
    margin-top: 130px; /* Ajusta según sea necesario para agregar espacio entre el encabezado y la sección aboutus */
  }
}
@media (max-width: 700px) {
  .aboutus {
    margin: 30px; /* Ajusta el margen según el espacio que desees */
    padding: 30px; /* Ajusta el padding según el espacio que desees */
  }
.aboutus h1{
  font-size: 40px;
}
.aboutus h3{
  font-size: 22px;
}
.aboutus p{
  font-size: 18px
}
}
@media (max-width: 580px) {
  .aboutus {
    margin: 20px; /* Ajusta el margen según el espacio que desees */
    padding: 20px; /* Ajusta el padding según el espacio que desees */
  }
  .aboutus h1{
    font-size: 32px;
  }
  .aboutus h3{
    font-size: 19px;
  }
  .aboutus p{
    font-size: 18px
  }
}