
:root {
  --primary: olivedrab;
  --white: #ffffff;
  --bg: #ffffff;
}

html {
  font-size: 62.5%;
  font-family: "Hubballi", sans-serif;
}

#cards-container {
  font-size: 1.6rem;
  background: var(--bg);
  margin-top: -35px;

}

.container {
  max-width: 124rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.section-heading {
  font-size: 4rem;
  color: var(--primary);
}

#cards-container {
  padding: 3rem 0;
}

@media (max-width:1440px) {
  #cards-container {
    padding: 1rem 0;
  }
}

#cards-container .cards-slider {
  height: 52rem;
  padding: 2rem 0;
  position: relative;
}

@media (max-width:500px) {  
  #cards-container .cards-slider {
    height: 45rem;
  }

  .section-heading{
    font-size: 3rem;
  }
}

.card-slide {
  width: 37rem;
  height: 42rem;
  position: relative;
}

@media (max-width:1440px) {
  .card-slide {
    width: 37rem !important;
    height: 42rem !important;
  }
  .card-slide .card-slide-img img {
    width: 37rem !important;
    height: 42rem !important;
  }
}

@media (max-width:500px) {
  .card-slide {
    width: 28rem !important;
    height: 36rem !important;
  }
  .card-slide .card-slide-img img {
    width: 28rem !important;
    height: 36rem !important;
  }
}

.card-slide .card-slide-img img {
  width: 37rem;
  height: 42rem;
  border-radius: 2rem;
  object-fit: cover;
}
.color-transparente {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:rgba(20, 58, 20, 0.5);
  border-radius: 2rem;
}

.card-slide .card-slide-content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.card-slide-content .tecn-name {
  position: relative;
  top: 2rem;
  text-align: center;
  color: var(--white);
}

.pie-card{
  position: relative;
  bottom: 2rem;
  text-align: center;
  color: var(--white);
}

.card-slide-content .card-slide-content-bottom {
  position: absolute;
  bottom: 2rem;
  color: var(--white);
}
.card-slide-content-bottom{
  position: absolute;
  bottom: 2rem; 
  height: 2.25rem;
  width: 100%;
  background-color:greenyellow;
  text-align: center;
}
.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.cards-slider-control {
  position: relative;
  bottom: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards-slider-control .swiper-button-next {
  left: 60% !important;
  transform: translateX(-60%) !important;
}

@media (max-width:990px) {
  .cards-slider-control .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
}

@media (max-width:650px) {
  .cards-slider-control .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
}
@media (max-width:450px) {
  .cards-slider-control .swiper-button-next {
    left: 90% !important;
    transform: translateX(-90%) !important;
  }
}

.cards-slider-control .swiper-button-prev {
  left: 40% !important;
  transform: translateX(-40%) !important;
}

@media (max-width:990px) {
  .cards-slider-control .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width:650px) {
  .cards-slider-control .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}
@media (max-width:450px) {
  .cards-slider-control .swiper-button-prev {
    left: 10% !important;
    transform: translateX(-10%) !important;
  }
}
.cards-slider-control .slider-arrow {
  background: var(--white);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.cards-slider-control .slider-arrow ion-icon {
  font-size: 2rem;
  color: #473c31;
}

.cards-slider-control .slider-arrow::after {
  content: '';
}

.cards-slider-control .swiper-pagination {
  position: relative;
  width: 15rem;
  bottom: 1rem;
}

.cards-slider-control .swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.cards-slider-control .swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}

.card-slide-content-back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  place-items: center;
  align-items: center; /* Centra horizontalmente */
  padding: 2rem 1.5rem;
  background-color: yellowgreen;
  opacity: 0;
  transition: .5s;
  border-radius: 2rem;
  line-height: 1.2;

}
.card-slide-content-back p{
  font-size: 2rem;
  color:#ffffff;
  font-weight: 900;
}
.card-slide:hover .card-slide-content-back {
  opacity: 1;
} 
.section-footing {
  font-size: 3.2rem;
  color: var(--primary);
  padding: 1.2rem 0;
  margin-top: -15px;
}
@media (max-width:500px) {  
  .section-footing {
  font-size: 2.5rem;
}
}