#logopie{ /*logo del encabezado*/
    width: 180px;
    height: 180px;
    position: relative; 
    top: 20px;
    left: 50px; /* Distancia desde la izquierda del contenedor */
}
.footer{
    background-color: yellowgreen;
    height: 250px; /* Altura más gruesa */
    clip-path: polygon(0 0, 100% 30%, 100% 100%, 0 100%);
    position: relative;

}
.footer h6 {
    font-family: 'Hubballi', sans-serif;
    font-size: 14px;
    color:#473c31;
    margin-left: 70px; /* Ajusta la cantidad de desplazamiento deseada */
    margin-top: 32.5px; /* Ajusta el valor según sea necesario */
}

.redes-sociales i { /*iconos*/
    color:#473c31;
    font-size: 35px; /* Tamaño del icono */
    margin-right: 10px; /* Espacio entre los iconos de redes sociales */
}
   .redes-sociales {
margin-left: 1150px;
margin-top: -120px;
position: relative;
z-index: 2;
}
.datos-insti {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -165px;
}
  .info {
    text-align: center;
    position: relative;
    left: 15px;
    top:15px;
}
  .info i {
    font-size: 20px;
    color:#473c31; /* Cambia el color de los iconos según tu preferencia */
    top: 5px;
}
  .info p {
    font-family: 'Hubballi', sans-serif;
    font-size: 17px;
    color: #473c31; /* Cambia el color del texto según tu preferencia */
    font-weight: 500;
    margin-right: 15px; /* Espacio entre el icono y el texto */

}
.info a {
  text-decoration: none; /* Opcional: eliminar el subrayado */
    color: #473c31; /* Color de texto para los enlaces */
  }
  
/* Cambiar el color de los enlaces en estado hover */
.footer a:hover {
  color:olivedrab;
  text-decoration: none; /* Opcional: eliminar el subrayado */
}
