/*HEADER*/
.form-container{
  z-index: 2; /* Asegura que el formulario esté por encima del encabezado */
  position: relative;
}
.headform h2 {
    font-family: 'Hubballi', sans-serif;
    font-size: 22px;
    color:white;
    font-weight: 900;
    background-color: yellowgreen; /* Color de fondo */
    margin-bottom: 10px; /* Espacio inferior para separarlo de los campos */
    padding: 10px 0; /* Padding superior e inferior para el título */
    text-align: center; /* Centra el texto */
    margin-left: -31px; /* Margen negativo para ocupar todo el ancho */
    margin-right: -31px; /* Margen negativo para ocupar todo el ancho */
    margin-top: -7px; /* Ajusta la posición vertical hacia arriba (puedes ajustar el valor según sea necesario) */
  }
.form { /*posicion en el header*/
    margin-left: 850px; 
    margin-top: -580px; 
  }
.form {
    font-family: 'Hubballi', sans-serif;
    font-size: 14px;
    max-width: 350px; /* Ancho máximo del formulario */
    max-height: 400px; /* Ajusta el valor según sea necesario */
    padding: 30px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 20px;
  }
  /* Estilo para los campos de entrada del formulario */
.field select  {
    font-family: 'Hubballi', sans-serif;
    font-size: 14px;
    width: 100%;
    padding: 10px;
    border: 1px solid #f9f9f9; /* Borde gris claro, similar al fondo blanco */
    border-radius: 5px;
    background-color: #f9f9f9; /* Color de fondo ligeramente más oscuro que el blanco */
    color: olivedrab;
  }
  .field input{
    font-family: 'Hubballi', sans-serif;
    font-size: 14px;
    width: 94%;
    padding: 10px;
    border: 1px solid #f9f9f9; /* Borde gris claro, similar al fondo blanco */
    border-radius: 5px;
    background-color: #f9f9f9; /* Color de fondo ligeramente más oscuro que el blanco */
    color: olivedrab;
  }
input, label {
  line-height: 0;
}
  /* Estilo para el botón de envío del formulario */
  #button {
    background-color:olivedrab; /* Fondo verde para el botón */
    font-family: 'Hubballi', sans-serif;
    font-size: 22px;
    font-weight: 900;
    color: white;
    padding: 20px 22.5px; /* Ajusta el padding para hacer el botón más largo (15px de alto, 40px de ancho) */
    border: none;
    border-radius: 20px;
    cursor: pointer;
    display: block; /* Cambia la visualización a bloque para centrar horizontalmente */
    margin: 0 auto; /* Centra horizontalmente el botón en el formulario */
    margin-top: 7px;
  }
  /* Estilo para el botón de envío al pasar el mouse */
  #button:hover {
    background-color: yellowgreen; /* Cambia el color al pasar el mouse */
  }

  @media (min-width: 970px) and (max-width: 1115px) {
    /* Estilos para dispositivos en ese rango de tamaño */
    .form {
      margin-left: 700px; /* Ajusta según sea necesario para mover el formulario hacia la izquierda */
    }
  }
    @media (max-width: 970px) {
      /* Estilos para dispositivos móviles */
      .form {
        /* Estilos específicos para el formulario en dispositivos móviles */
        max-width: 80%;
        margin: 0 auto;
        background-color: white; /* Fondo para el formulario en dispositivos móviles */
        padding: 20px; /* Ajusta según sea necesario */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Agrega una sombra al formulario en dispositivos móviles */
      }
      .headform h2 {
        background-color: yellowgreen; /* Color de fondo */
        margin-bottom: 10px; /* Espacio inferior para separarlo de los campos */
        padding: 10px 0; /* Padding superior e inferior para el título */
        text-align: center; /* Centra el texto */
        margin-left: -20.5px; /* Margen negativo para ocupar todo el ancho */
        margin-right: -20.5px; /* Margen negativo para ocupar todo el ancho */
        margin-top: -7px; /* Ajusta la posición vertical hacia arriba (puedes ajustar el valor según sea necesario) */
      }    
      .form-container{
        margin-top: 70px; /* Ajusta el margen superior para agregar más espacio */
      }
    }

