/*ENCABEZADO*/
.fondo-blanco{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    z-index: 1;
}
 .encabezado{ /*div del encabezado*/
     overflow: hidden;
     position: relative;
     width: 1350px; /*Ancho*/
     height: 663px; /*Altura*/
     background-color:rgba(20, 58, 20, 0.555); /* Color verde con % de transparencia */
    }
    
.fondoenc{ /*div para el fondo del encabezado*/
    position: absolute;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-image: url('../img/estudiantes.jpeg');
     background-size: cover; /* Ajustar la imagen al tamaño del div sin deformarla */
     background-position: center center; /* Centrar la imagen en el div */
     background-repeat: no-repeat; /* Evitar que la imagen se repita */
     filter: blur(4px); /* Ajusta el valor de desenfoque según tus preferencias */
     z-index: -1; /* Coloca la imagen de fondo detrás del contenido */
     background-attachment: fixed; /* Efecto de imagen estatica en el scroll */
     clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);

    }

#logoenc{ /*logo del encabezado*/
     width: 160px;
     height: 160px;
     position: relative; 
     top: 20px; /* Distancia desde la parte superior del contenedor */
     left: 100px; /* Distancia desde la izquierda del contenedor */
    }
    
.encabezado i { /*iconos*/
     color:yellowgreen;
     display: inline-block; /* Mostrar en línea con otros elementos */
     margin-right: 12px; /* Espacio entre el icono y el texto */
     text-align: center; /* Centrar el contenido horizontalmente */
     font-size: 35px; /* Tamaño del icono */
     margin-left: 100px; /* Ajusta la cantidad de desplazamiento deseada */
    }
    
.encabezado p { /*elementos parrafo del encabezado*/
     display: inline-block; /* Mostrar en línea con otros elementos */
     font-family: 'Hubballi', sans-serif;
     font-size: 20px;
     color: white;
     font-weight: 900; /* Muy Negrita */
    }
    
.encabezado h1 {
     margin-left: 100px; /* Ajusta la cantidad de desplazamiento deseada */
     color: white; /* Color del texto */
     font-family: 'Hubballi', sans-serif;
     font-size: 56px;
     font-weight: 500;
    }

.encabezado h3 {
     margin-left: 100px; /* Ajusta la cantidad de desplazamiento deseada */
     color: white; /* Color del texto */
     font-family: 'Hubballi', sans-serif;
     font-size: 40px;
     font-weight: 400;
    }
    
.fa-graduation-cap, .fa-briefcase {
        position: relative;
}
.fa-briefcase {
        left: -15px; /* Ajusta el valor según tus necesidades */
}

/* Estilos para dispositivos móviles (por ejemplo, 768px o menos) */
@media (max-width: 768px) {
    .encabezado {
      padding: 10px; /* Ajusta el espacio interno en pantallas más pequeñas */

      width: 100%;
      height: auto;

    }
  
    #logoenc {
      width: 20%; /* Ajusta el tamaño del logo en dispositivos móviles */
      height: auto;
      left: 0%; /* Centra el logo horizontalmente */
    }
  
    .encabezado p,
    .encabezado h1,
    .encabezado h3 {
      margin: 20px;
      /*text-align: center; /* Centra el contenido horizontalmente */
    }
  /* Redefine el tamaño de fuente para los elementos de texto en el encabezado */
  .encabezado h1 {
    font-size: 40px; /* Ajusta el tamaño de fuente deseado */
  }

  .encabezado h3 {
    font-size: 30px; /* Ajusta el tamaño de fuente deseado */
  }

  .encabezado p {
    font-size: 16px; /* Ajusta el tamaño de fuente deseado */
  }
    .encabezado i{
        margin-bottom: 5px;
        margin: 20px;
        margin-right: 0; /* Espacio entre el icono y el texto */
    }
  }