body,html{
    margin: 0;
    padding: 0;
    position: relative;
}
body{
    overflow-x: hidden; /* Oculta la barra de desplazamiento horizontal */
}
::selection {
    color:chartreuse ; /* Cambia el color del texto seleccionado a verde */
    background-color: initial; /* Restablece el fondo de selección al valor predeterminado */
}
::-moz-selection {
    color: chartreuse; /* Cambia el color del texto seleccionado a verde en navegadores Firefox */
    background-color: initial;
}
.espacio1 {
      height: 330px; /* Ajusta la altura según tus necesidades */
}
@media screen and (max-width: 535px){
    .espacio1{
        height: 180px;
    }
}