body,html{
    margin: 0;
    padding: 0;
}

::selection {
    color:chartreuse ; /* Cambia el color del texto seleccionado a verde */
    background-color: initial; /* Restablece el fondo de selección al valor predeterminado */
}
::-moz-selection {
    color: chartreuse; /* Cambia el color del texto seleccionado a verde en navegadores Firefox */
    background-color: initial;
}
.espacio1 {
      height: 330px; /* Ajusta la altura según tus necesidades */
}

/* Estilos generales diseño responsive aquí */
/* Estilos generales */

/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
    /* Estilos para encabezado en pantallas pequeñas */
    header {
      padding: 10px;
    }
    .logo {
      font-size: 1.5rem;
    }
    .nav {
      flex-direction: column;
    }
    .nav a {
      margin: 10px 0;
    }
  
    /* Estilos para la sección "Acerca de nosotros" en pantallas pequeñas */
    .about-us {
      padding: 20px;
    }
  
    /* Estilos para las tarjetas en pantallas pequeñas */
    .card {
      width: 100%;
      margin: 10px 0;
    }
  }
  
  /* Media query para pantallas aún más pequeñas */
  @media (max-width: 480px) {
    /* Estilos adicionales para encabezado en pantallas muy pequeñas */
    .logo {
      font-size: 1.2rem;
    }
    .nav a {
      font-size: 0.9rem;
    }
  
    /* Estilos adicionales para la sección "Acerca de nosotros" en pantallas muy pequeñas */
    .about-us {
      padding: 10px;
    }
  }
  
  